body {
    background-image: radial-gradient(Burlywood, rgb(248, 219, 184));
}

h1 {
    color: white;
    text-align: center;
    font-family: Simhei;
}

p {
    font-family: Simhei;
    color: white;
    font-size: 15px;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    font-family: Simhei;
}

button {
    border-radius: 25px;
    border: 5px solid white;
    width: 90px;
    height: 45px;
    background-color: wheat;
    font-family: Simhei;
}
